[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
pygments = "*"
docutils = "*"
numpy = "*"
pygame = "*"
nbimporter = "*"
nbformat = "*"
ipython = "*"
chess = "*"

[dev-packages]

[requires]
python_version = "3.9"
